#image-background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#image-title{
  font-family: Lobster;
  color: black;
  padding-top: 15px;
  font-size: 75px;
  margin-left: 16px;
}

#nav-bar-image{
  z-index: 100;
  padding: 25px;
  margin-top: 15px;
} 

#nav-bar-image p{
    z-index: 100;
    position: relative;
    /* font-family: 'Lobster'; */
    font-size: 22px;
    border-radius: 5px;
    color: rgb(98, 98, 98);
    /* border: solid grey 2px; */
    background-color: lightgrey;
    padding: 10px;
    margin-right: 10px;
    display: inline;
    font-weight: bold;

 }

 #nav-bar-image p:hover { 
   z-index: 100;
   background-color: white;
   color:	grey; 
  }

  #generated-image{
    z-index: 100;
    left: 30%;
    top: 100%;
    border: 10px solid white;
    position: absolute;
    font-family: Lobster;
  }
  
  #image-generate-button{
    z-index: 100;
    top: 300px;
    left: 3%;
    position: absolute;
  }

  /* #image-save-button{
    z-index: 100;
    top: 350px;
    left: 3%;
    position: absolute;
  } */

  #image-help-button{
    z-index: 100;
    top: 350px;
    left: 3%;
    position: absolute;
  }

  #image-color-button{
    z-index: 100;
    top: 400px;
    left: 3%;
    position: absolute;
  }

  #image-artbox{
    z-index: 100;
    top: 550px;
    left: 2%;
    position: absolute;
  }

  #image-error{
    z-index: 50;
    position: absolute;
    height: 150px;
    width: 220px;
    transform: scaleX(-1);
    right: 9%;
    top: 76%;
  }

  #image-error-message{
    /* border: 2px solid pink; */
    height: 65px;
    width: 160px;
    z-index: 70;
    position: absolute;
    right: 13%;
    top: 85%;
    text-align: center;
    font-family: 'Lobster';
    font-size: 16px;
    font-size: 1.6vw;
  }

#creepy-eyes{
  z-index: 70;
  position: absolute;
  height: 53px;
  width: 135px;
  top: 218px;
  left: 248px;
  border-radius: 22%;
  animation-name: creepyeyes;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

@keyframes creepyeyes {
  0%{opacity: 0;}
  25%{opacity: 0.5;}
  50%{opacity: 1;}
  75%{opacity: 0.5;}
  100%{opacity: 0;}
}

#guy{
  z-index: 50;
  height: 85%;
  right: -105px;
  bottom: 0px;
  position: absolute;
}