#main-library{
    background-image: url('https://i.pinimg.com/474x/cd/5f/a6/cd5fa6ed1582473db86001c370222bd1.jpg');
}

#book{
    -webkit-background-composite: 0.5 ;
    background-color: rgba(131, 83, 21, 0.383);
    /* border: 2px solid black; */
    padding: 40px;
    margin-top: 45px;
    display: inline-block;
}
