html { 
    margin:0; 
    padding:0; 
    } 

#sitename{
    font-family: 'Lobster';
  /*   color: darkgrey; */
    font-size: 80px;
    text-transform: capitalize;
    text-shadow: 8px 8px lightblue;
  }
  
  .container {
    position: relative;
    border: 0;
    padding: 0px;
    margin: 0px;
  }
  
  .text-block, #img {
    z-index: 105;
    position: absolute;
    top: 5%;
    left: 25%;
    height: 250px;
    width: 550px;
    transform: translate(-50%, -50%);
      /* attempt to get rid of jaggies when rotated */
    transform-style: preserve-3d;
  /*   backface-visibility: hidden; */
    /* nice rounded corners */
    border-radius: 15px;
    /* set the swing origin (nail body) */
    transform-origin: 50% -75px;
    /* animate the swing with pendulum-style easing */
    animation: swing 3s infinite alternate ease-in-out;
  }
  
  .text-block {
    top: 16%;
    left: 31%;
  }
  
  #background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    animation-play-state: paused;
    z-index:-1;
  }
  
  @keyframes swing {
    0% { transform: rotate(-1.5deg) }
    100% { transform: rotate(1.5deg) }
  }
  
 #nav-bar{
    margin-left: 15px;
    padding: 15px;
    /* background-color: brown; */
 } 

 #nav-container{
    border: 0;
    padding:0px;
    margin-top: -24px;
    vertical-align: baseline;
    background-image: url("https://i.ibb.co/bWvG8qd/Screen-Shot-2020-09-16-at-3-17-42-PM.png");
    height: 80px;
 }

 #main-body{
    border: 0;
    padding:0px;
    margin-top: -22px;
    background-image: url("https://i.ibb.co/WFCr9Q1/Screen-Shot-2020-09-16-at-3-32-37-PM.png");
    height: 500px; 
 }

 #main-content{
    margin-left: 15px;
    padding: 15px;
 }

 #form-content{
    margin-left: 21%;
    padding: 15%;
 }

 /* footer{
    border: 0;
    padding: 0px;
    margin-top: -17px;
    height: 35px;
    background-image: url("https://i.ibb.co/WFCr9Q1/Screen-Shot-2020-09-16-at-3-32-37-PM.png");
 } */